<footer>
    <div class="content-footer">
        <div class="footer-logo">
            <a href="/" class="logo"> 
              <img src="./images/logo.png" width="150px"/>
            </a>
        </div>
        <div class="footer-main-links">
            <a href="./terms.html" data-i18n="footer.left.p1">Пользовательское соглашение</a>
            <a href="./terms.html" data-i18n="footer.left.p2">Политика конфиденциальности</a>
            <a href="./terms.html" data-i18n="footer.left.p3">Комиссии</a>
        </div>
        <div class="footer-contact">
            <p data-i18n="footer.right.p1">Мы доступны для связи в Telegram <br> <p data-i18n="footer.right.p2"></p></p>
            <p data-i18n="footer.right.p2_1">Отвечаем быстро на все вопросы</p>
            <a href="/" class="nav-link px-2 buttons__color" data-i18n="footer.right.btn">Связаться с нами</a>
        </div>
    </div>
</footer>