<footer>
    <div class="content-footer">
        <div class="footer-logo">
            <a href="/" class="logo"> 
              <img src="./images/logo.png" width="150px"/>
            </a>
        </div>
        <div class="footer-main-links">
            <a href="./terms.html">Пользовательское соглашение</a>
            <a href="./terms.html">Политика конфиденциальности</a>
            <a href="./terms.html">Комиссии</a>
        </div>
        <div class="footer-contact">
            <p>Мы доступны для связи в Telegram <br> c 10.30 до 18.00</p>
            <p>Отвечаем быстро на все вопросы</p>
            <a href="#" class="nav-link px-2 buttons__color">Связаться с нами</a>
        </div>
    </div>
</footer>