{% extends "base-cabinet.html" %} {% block content %}
<div class="container terms">
    <div class="row">
        <div class="col-md-12">
            <h2 data-i18n="cabinet.title">Ваши транзакции </h2>
            <h3 id="user_info"></h3>
            <div class="table-responsive transactions">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" data-i18n="cabinet.table.p1">ID заявки</th>
                            <th scope="col" data-i18n="cabinet.table.p2">Дата Обмена</th>
                            <th scope="col" data-i18n="cabinet.table.p3">Отдали</th>
                            <th scope="col" data-i18n="cabinet.table.p7">Отдали</th>
                            <th scope="col" data-i18n="cabinet.table.p4">Курс</th>
                            <th scope="col" data-i18n="cabinet.table.p5">Получили</th>
                            <th scope="col" data-i18n="cabinet.table.p6">Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <th scope="row">205
                            </th>
                            <td>2022/02/11 10:49</td>
                            <td>1.000000 BTC</td>
                            <td>14.00717167</td>
                            <td>0.01395 ETH</td>
                            <td>13.93714 ETH</td>
                            <td> <span searchvalue="5" class="table-status table-status_cancel">Отменена</span></td>
                        </tr>
                        <tr>
                            <th scope="row">380
                            </th>
                            <td>2022/05/11 10:49</td>
                            <td>1.000000 BTC</td>
                            <td>14.00717167</td>
                            <td>0.01395 ETH</td>
                            <td>13.93714 ETH</td>
                            <td> <span searchvalue="5" class="table-status table-status_success">Успешно</span></td>
                        </tr>
                        <tr>
                            <th scope="row">444
                            </th>
                            <td>2022/02/11 10:49</td>
                            <td>1.000000 BTC</td>
                            <td>14.00717167</td>
                            <td>0.01395 ETH</td>
                            <td>13.93714 ETH</td>
                            <td> <span searchvalue="5" class="table-status table-status_process">В обработке</span></td>
                        </tr>
                        <tr>
                            <th scope="row">579
                            </th>
                            <td>2022/05/11 10:49</td>
                            <td>1.000000 BTC</td>
                            <td>14.00717167</td>
                            <td>0.01395 ETH</td>
                            <td>13.93714 ETH</td>
                            <td> <span searchvalue="5" class="table-status table-status_success">Успешно</span></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-sm-9 col-lg-9 col-xl-6 signUp">
                <div class="auth-login">
                    <h2 data-i18n="cabinet.password.title">Изменить пароль</h2>
                    <input placeholder="Введить старый пароль" data-i18n="[placeholder]cabinet.password.pass1" type="password" id="passwordChangeLast" />
                    <div class="show" onclick="showPassword(3)">
                        <i class="fa-solid fa-lock" id="passwordIconChangeLast"></i>
                    </div>
                    <input placeholder="Введить новый пароль" data-i18n="[placeholder]cabinet.password.pass2" type="password" id="passwordChangeFirst" />
                    <div class="show" onclick="showPassword(1)">
                        <i class="fa-solid fa-lock" id="passwordIconChangeFirst"></i>
                    </div>
                    <input placeholder="Повторите новый пароль" data-i18n="[placeholder]cabinet.password.pass3" type="password" id="passwordChange" />
                    <div class="show" onclick="showPassword(2)">
                        <i class="fa-solid fa-lock" id="passwordIconChange"></i>
                    </div>
                    
                    <a href="#" class="login-button buttons__color" onclick="changePassword()" data-i18n="cabinet.password.btn">Изменить</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-9 col-lg-9 col-xl-6 showToggle">
                <div class="auth-login">
                    <h2>Проверьте почту !</h2>
                    <p class="success-registration">На Ваш E-mail было отправлено письмо с подтверждением восстановления пароля.</p>
                    <a href="mailto:crypto@gmail.com" class="login-button buttons__color">Перейти на почту</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModalCabinet" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="form_wrapper">
          <div class="form_container">
            <div class="title_container">
              <h2 data-i18n="cabinet.modal.header">Детали Заявки</h2>
            </div>
            <div class="row clearfix">
              <div class="order-detail">
                
              </div>
            </div>
          </div>
        </div>
    </div>
  
  </div>
{% endblock %}