{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="banner-current">
                <h1>Автоматический <br> обмен валют <span class="span-area-banner">24&#x2f;7</span></h1>
                <!-- <div class="dash-rate dash-rate-desktop">
                    <div class="crypto-wrapper">
                        <p class="banner-head">
                            Обменный курс:
                        </p>
                        <p class="info info-svg">
                            1 BTS
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8.00001C0 7.7348 0.105357 7.48044 0.292893 7.29291C0.48043 7.10537 0.734784 7.00001 1 7.00001H12.586L8.292 2.70801C8.10423 2.52024 7.99874 2.26556 7.99874 2.00001C7.99874 1.73446 8.10423 1.47979 8.292 1.29201C8.47977 1.10424 8.73445 0.998749 9 0.998749C9.26555 0.998749 9.52023 1.10424 9.708 1.29201L15.708 7.29201C15.8011 7.3849 15.875 7.49525 15.9254 7.61674C15.9758 7.73823 16.0018 7.86848 16.0018 8.00001C16.0018 8.13155 15.9758 8.26179 15.9254 8.38328C15.875 8.50477 15.8011 8.61512 15.708 8.70801L9.708 14.708C9.52023 14.8958 9.26555 15.0013 9 15.0013C8.73445 15.0013 8.47977 14.8958 8.292 14.708C8.10423 14.5202 7.99874 14.2656 7.99874 14C7.99874 13.7345 8.10423 13.4798 8.292 13.292L12.586 9.00001H1C0.734784 9.00001 0.48043 8.89466 0.292893 8.70712C0.105357 8.51958 0 8.26523 0 8.00001Z" fill="#3E3E3E"/>
                                </svg> 14.206665
                        </p>
                    </div>
                    <div class="crypto-wrapper">
                        <p class="banner-head">
                            Комиссия:
                        </p>
                        <p class="info">
                            -0.5%
                        </p>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-xl-12">
            <div class="back-img">
                {% include "back-img.html" %}
            </div>
            <div class="banner-calculator">
                <div class="banner-inner">
                    <div class="calc-give">
                        <div class="calc-head">
                            Отдаете
                        </div>
                        <div class="radio">
                            <div class="choose-crypt">
                                <input class="form-check-input" type="radio" name="takecrypto" id="give-crypto" value="crypto_give" checked>
                                <label class="form-check-label" for="give-crypto">
                                    Криптовалюта
                                </label>
                            </div>
                            <div class="choose-crypt">
                                <input class="form-check-input" type="radio" name="takecrypto" id="give-fiat" value="cash_give">
                                <label class="form-check-label" for="give-fiat">
                                    Фиат
                                </label>
                            </div>
                        </div>
                        <div class="buy-value">
                            <input type="number" class="form-control crypto-input" id="giveInput" placeholder="0">

                            <!-- <select id="give_selector" class="form-select select-lang bg-transparent shadow-none crypto-select" aria-label="Default select example">
                                <option selected>BTC</option>
                                <option value="1">ETH</option> 
                                <option value="2">XRP</option>
                                <option value="3">LTC</option>
                            </select>  -->
                            <select id="give_selector" class="js-states form-control form-select select-lang bg-transparent shadow-none crypto-select give_selector">
                            </select>
                            
                          
                                <!-- <div class="select_wrap">
                                    <ul class="default_option">
                                        <li>
                                            <div class="option pizza">
                                              <div class="icon"></div>
                                              <p>Pizzas</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="select_ul">
                                        <li>
                                            <div class="option pizza">
                                              <div class="icon"></div>
                                              <p>Pizzas</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="option burger">
                                              <div class="icon"></div>
                                              <p>Burget</p>
                                            </div>  
                                        </li>
                                        <li>
                                            <div class="option ice">
                                              <div class="icon"></div>
                                              <p>Ice Cream</p>
                                            </div>  
                                        </li>
                                        <li>
                                          <div class="option fries">
                                              <div class="icon"></div>
                                              <p>Fried Potatoes</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div> -->
                                

                            <!--  -->
                        </div>
                           <div class="choose-cash-point">
                            <div class="choose-inner">

                                <div class="choose-crypt">
                                    <input class="form-check-input" type="radio" name="givecash" id="give-fiat-cash" value="fiat_give" checked>
                                    <label class="form-check-label" for="give-fiat-cash">
                                        Наличка
                                    </label>
                                </div>
                                <div class="choose-crypt">
                                    <input class="form-check-input" type="radio" name="givecash" id="give-fiat-bank" value="bank_give">
                                    <label class="form-check-label" for="give-fiat-bank">
                                        Банк
                                    </label>
                                </div>
                            </div>
                            <select id="cities_selector" class="js-states form-control form-select select-lang bg-transparent shadow-none crypto-select" aria-label="Default select example">
                                <!-- <option selected>BTC</option>
                                <option value="1">ETH</option>
                                <option value="2">XRP</option>
                                <option value="3">LTC</option> -->
                            </select>
                            <select id="banks_selector" class="js-states form-control form-select select-lang bg-transparent shadow-none crypto-select" aria-label="Default select example">
                                <!-- <option selected>BTC</option>
                                <option value="1">ETH</option>
                                <option value="2">XRP</option>
                                <option value="3">LTC</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="calc-take">
                        <div class="calc-head">
                            Получаете
                        </div>
                        <div class="radio">
                            <div class="choose-crypt">
                                <input class="form-check-input" type="radio" name="givecrypto" id="take-crypto" value="crypto_take" checked>
                                <label class="form-check-label" for="take-crypto">
                                    Криптовалюта
                                </label>
                            </div>
                            <div class="choose-crypt">
                                <input class="form-check-input" type="radio" name="givecrypto" id="take-fiat" value="cash_take">
                                <label class="form-check-label" for="take-fiat">
                                    Фиат
                                </label>
                            </div>
                        </div>
                        <div class="buy-value">
                            <input type="number" step="0.01" class="form-control crypto-input"placeholder="0" id="takeInput" disabled>
                                <!-- <select id='take_selector' class="form-select select-lang bg-transparent shadow-none crypto-select" aria-label="Default select example"> -->
                                    <!-- <option value="1">BTC</option>
                                    <option value="2">XRP</option>
                                    <option value="3">LTC</option> -->
                                <!-- </select> -->
                                <select id="take_selector" class="js-states form-control form-select select-lang bg-transparent shadow-none crypto-select ">
                                </select>
                        </div>
                        <div class="choose-cash-point-take">
                            <div class="choose-inner">
                                <div class="choose-crypt">
                                    <input class="form-check-input" type="radio" name="takecash" id="take-fiat-cash" value="fiat_take" checked>
                                    <label class="form-check-label" for="take-fiat-cash">
                                        Наличка
                                    </label>
                                </div>
                                <div class="choose-crypt">
                                    <input class="form-check-input" type="radio" name="takecash" id="take-fiat-bank" value="bank_take">
                                    <label class="form-check-label" for="take">
                                        Банк
                                    </label>
                                </div>
                            </div>
                            <select id="cities_selector_take" class="form-select select-lang bg-transparent shadow-none crypto-select" aria-label="Default select example">
                                <!-- <option selected>BTC</option>
                                <option value="1">ETH</option>
                                <option value="2">XRP</option>
                                <option value="3">LTC</option> -->
                            </select>
                            <select id="banks_selector_take" class="form-select select-lang bg-transparent shadow-none crypto-select" aria-label="Default select example">
                                <!-- <option selected>BTC</option>
                                <option value="1">ETH</option>
                                <option value="2">XRP</option>
                                <option value="3">LTC</option> -->
                            </select>
                        </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-md-12 reverse-mobile">
            <div class=" banner-current-mobile">
                <div class="dash-rate">
                    <div class="crypto-wrapper">
                        <p class="banner-head">
                            Обменный курс:
                        </p>
                        <p class="info info-svg">
                            1 <span class="main_crypto"></span>
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8.00001C0 7.7348 0.105357 7.48044 0.292893 7.29291C0.48043 7.10537 0.734784 7.00001 1 7.00001H12.586L8.292 2.70801C8.10423 2.52024 7.99874 2.26556 7.99874 2.00001C7.99874 1.73446 8.10423 1.47979 8.292 1.29201C8.47977 1.10424 8.73445 0.998749 9 0.998749C9.26555 0.998749 9.52023 1.10424 9.708 1.29201L15.708 7.29201C15.8011 7.3849 15.875 7.49525 15.9254 7.61674C15.9758 7.73823 16.0018 7.86848 16.0018 8.00001C16.0018 8.13155 15.9758 8.26179 15.9254 8.38328C15.875 8.50477 15.8011 8.61512 15.708 8.70801L9.708 14.708C9.52023 14.8958 9.26555 15.0013 9 15.0013C8.73445 15.0013 8.47977 14.8958 8.292 14.708C8.10423 14.5202 7.99874 14.2656 7.99874 14C7.99874 13.7345 8.10423 13.4798 8.292 13.292L12.586 9.00001H1C0.734784 9.00001 0.48043 8.89466 0.292893 8.70712C0.105357 8.51958 0 8.26523 0 8.00001Z" fill="#3E3E3E"></path>
                                </svg> <span class="main_rate"></span>
                        </p>
                    </div>
                    <div class="crypto-wrapper">
                        <p class="banner-head">
                            Комиссия:
                        </p>
                        <p class="info main_commission">
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="calculate-button">
                <a class="buttons__color" id="calculate"><span id="calc-text">Рассчитать</span>
                    <svg xmlns="http://www.w3.org/2000/svg" id="loading" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgba(245, 245, 245, 0); display: block;" width="204px" height="204px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                        <circle cx="50" cy="50" fill="none" stroke="#ffffff" stroke-width="4" r="26" stroke-dasharray="122.52211349000194 42.840704496667314">
                          <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="0.46511627906976744s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                        </circle>
                        </svg>
                </a>
                <a class="buttons__color create-order" id="create-order">
                    <span>Создать заявку</span>
                </a>
            </div>
            
        </div>
    </div>
    
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 under-banner">
            <div class="under-banner-inner">
                <div class="under-banner-item">
                    <div class="img-container img1">
                    </div>
                    <p>
                        Онлайн 24/7
                    </p>
                </div>
                <div class="under-banner-item">
                    <div class="img-container img2">
                    </div>
                    <p>
                        Выгодные курсы валют
                    </p>
                </div>
                <div class="under-banner-item">
                    <div class="img-container img3">
                    </div>
                    <p>
                        Лучшие условия для постоянных клиентов
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row cabinet-deals">
        <div class="col-md-5">
            <div class="fast-deals">
                <h2>
                    Быстрые сделки через личный кабинет
                </h2>
                <p>
                    Все Ваши операции всегда под <br> рукой. Сервис доступен 24/7
                </p>
                <a href="/register" class="buttons__color">Зарегистрироваться сейчас &#xbb;</a>
            </div>
        </div>
        <div class="col-md-7">
            <div class="cabinet-img">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid money-card">
    <div class="container">
        <div class="row  d-flex justify-content-center">
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
                <div class="col mb-4 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-img-top"></div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">23.11.2021</small></p>
                            <h3 class="card-title">Инвестиции в криптовалюты на долгосрок</h3>
                            <p class="card-text text-outter">Уже более года биржи фиксируют резкий рост притока новых инвесторов, желающих заработать на криптовалюте.</p>
                            <a href="./inner-news.html" class="buttons__color-outline">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-img-top"></div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">23.11.2021</small></p>
                            <h3 class="card-title">Инвестиции в криптовалюты на долгосрок</h3>
                            <p class="card-text text-outter">Уже более года биржи фиксируют резкий рост притока новых инвесторов, желающих заработать на криптовалюте.</p>
                            <a href="./inner-news.html" class="buttons__color-outline">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-img-top"></div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">23.11.2021</small></p>
                            <h3 class="card-title">Инвестиции в криптовалюты на долгосрок</h3>
                            <p class="card-text text-outter">Уже более года биржи фиксируют резкий рост притока новых инвесторов, желающих заработать на криптовалюте.</p>
                            <a href="./inner-news.html" class="buttons__color-outline">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="#" class="buttons__color all-news">Все новости</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid carousel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-slider">
                    <div id="carousel" class="owl-carousel owl-loaded owl-drag owl-grab">
                        <div class="owl-stage-outer owl-height" style="height: 453.375px;">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 1.6s ease 0s; width: 1988px;">
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-1'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-2'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-3'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-4'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-5'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-1'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-2'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-3'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-4'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-5'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-1'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-2'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-3'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-4'>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 331.313px;">
                                    <div class="item-carousel" id='cr-5'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="collapse show" id="collapseExample">
                    <h2>Как это работает</h2>
                    <p>Задача организации, в особенности же новая модель организационной деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! реализация намеченных плановых заданий представляет
                        собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения направлений прогрессивного развития.</p>

                    <p>Значимость этих проблем настолько очевидна, что консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Идейные соображения высшего порядка, а также новая модель организационной
                        деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности позволяет оценить значение модели развития. Значимость этих
                        проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Разнообразный и богатый опыт укрепление и
                        развитие структуры позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.</p>

                    <p>Идейные соображения высшего порядка, а также сложившаяся структура организации представляет собой интересный эксперимент проверки дальнейших направлений развития. Повседневная практика показывает, что новая модель организационной деятельности
                        способствует подготовки и реализации систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры в значительной степени обуславливает создание новых предложений. Таким образом новая модель
                        организационной деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.</p>
                </div>
                <p class="outline-how-it-works">
                    <a class="buttons__color-outline" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
                        Свернуть
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid carousel-here">
    <div class="container">
        <div class="row">
            <h2>Остались вопросы?</h2>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Как быстро происходит обмен?
                    </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Всё зависит от загружености сети,в среднем обмен происходит от 10 минут до 3-х часов.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Accordion Item #2
                    </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as
                            well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>,
                            though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Accordion Item #3
                    </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well
                            as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>,
                            though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <a href="#" class="buttons__color btn-accordion">Все вопросы</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid contact">
    <div class="container">
        <div class="row cabinet-deals">
            <div class="col-md-5">
                <div class="fast-deals">
                    <h2>
                        Получить консультацию
                    </h2>
                    <div class="contact-group">
                        <input type="crypto" class="form-control crypto-input" id="inputPassword2" placeholder="Как вас зовут?">
                        <input type="crypto" class="form-control crypto-input" id="inputPassword2" placeholder="Введите телефон">
                        <input type="crypto" class="form-control crypto-input" id="inputPassword2" placeholder="Комментарий">
                    </div>
                    <a href="/" class="buttons__color">Оставить заявку</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="contact-img">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="form_wrapper">
        <div class="form_container">
          <div class="title_container">
            <h2>Заявка</h2>
            <p class="order-flow"></p>
          </div>
          <div class="row clearfix">
            <div class="">
              <form>
                <div class="row clearfix">
                    <div class="col_half">
                      <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                        <input type="text" name="name" placeholder="Имя" />
                      </div>
                    </div>
                    
                    <div class="col_half">
                      <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                        <input type="text" name="surname" placeholder="Фамилия" required />
                      </div>
                    </div>

                    <div class="col_half">
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-users"></i></span>
                          <input type="text" name="patronicName" placeholder="Отчество" required />
                        </div>
                      </div>

                      <div class="col_half">
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-phone"></i></span>
                          <input type="text" name="phone" placeholder="Телефон" required />
                        </div>
                      </div>
                      <div class="col_half">
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                            <input type="email" name="email" placeholder="Email" required />
                        </div>
                      </div>
                  </div>
                
                <div class="input_field" id="cash"> <span><i aria-hidden="true" class="fa fa-hashtag"></i></span>
                  <input type="text" name="hash" placeholder="Введите кошелек" required />
                </div>
                <div class="input_field" id="card"> <span><i aria-hidden="true" class="fa fa-bank"></i></span>
                    <input type="text" name="card" placeholder="Введите карту" required />
                  </div>
                <div class="input_field" id="memo"> <span><i aria-hidden="true" class="fa fa-chevron-right"></i></span>
                  <input type="text" name="memo" placeholder="memo" required />
                </div>
                <div class="create-order-btn">
                    <a class="buttons__color create-order" id="create-order-last" >
                        <span>Создать заявку</span>
                    </a>              
                </div>
             </form>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
{% endblock %}