{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Инвестиции в криптовалюты на долгосрок</h2>
            <p class="card-text"><small class="text-muted">23.11.2021</small></p>
        </div>
        <div class="col-md-12">
            <p>Уже более года биржи фиксируют резкий рост притока новых инвесторов, желающих заработать на криптовалюте</p>
            <div class="card-img-top-inner"></div>
            <p style="margin-top: 40px;">За 1 млн рублей можно приобрести 1-2 новых ASIC-майнера для добычи биткоина сроком окупаемости в 12-24 месяца, рассказал CEO технологической компании LAZM Филипп Моднов. По его словам, также за эту сумму можно собрать новую ферму на видеокартах GPU, которая окупится за 8-15 месяцев. Чтобы снизить сроки окупаемости можно приобрести б/у-оборудование, однако оно будет нести большие риски.
                <br> <br>
            Сейчас майнеры чаще выбирают вычислительное оборудование для добычи криптовалюты на базе GPU из-за дефицита на рынке, отметил Моднов. Также существует услуга аренды вычислительных мощностей. Однако при ее выборе необходимо быть максимально уверенным в поставщике.
            </p>

            <h2>Инвестирование</h2>

            <p>При формировании инвестиционного портфеля необходимо учитывать три обстоятельства: доли тех или иных монет, диверсификация портфеля и хеджирование, посоветовал ведущий аналитик 8848 Invest Виктор Першиков. Около 20-30% портфеля стоит вложить в наиболее капитализированные активы — бенчмарки рынка, считает специалист. В настоящее время к ним относятся BTC, ETH, BNB, которые, к тому же представляют разные секторы крипторынка, что положительно влияет на диверсификацию.
                <br> <br>

                Еще 40% эксперт рекомендовал выделить на активы из топ-100 крипторынка, которые менее капитализированны, но ликвидны и имеют высокую инвестиционную привлекательность. К таковым монетам сейчас можно отнести ONT, NEO, TRX, EOS, CRO, CAKE, BAT и многие другие, считает Першиков. Эти активы представляют разные секторы крипторынка (DeFi, финансовые решения, блокчейн-платформы, медиа). По словам Першикова, важно, чтобы токены и монеты относились к разным секторам рынка и были завязаны на разных протоколах, что позволит нивелировать риски падения одного сектора.
                <br> <br>

                Еще 20% стоит инвестировать в токены актуальных проектов с низкой капитализацией, отметил эксперт. Сейчас к таковым относятся NFT и DeFi проекты и, в том числе, токены новой сети Binance Smart Chain (например REEF, SPARTA) Это — агрессивная доля портфеля, которая может дать кратный рост, но она не должна быть основой всего портфеля, так это значительно повышает риски.
                <br> <br>

                Оставшиеся 10-20% капитала Першиков посоветовал использовать для хеджирования, например, для покупки пут-опционов (дает право на продажу актива в заданное время по заданной цене) на BTC. Это очень важное условие, любой портфель должен быть захеджирован на случай просадки рынка и снижения капитализации, и использовать данные средства стоит именно для страховки, а не для заработка. При соблюдении условий можно ожидать доходности порядка 70-80% годовых, с риском просадки на уровне 30%, заключил специалист.</p>
                <a href="#" class="nav-link px-2 buttons__color" style="margin-top: 20px;">Связаться с нами</a>

        </div>
    </div>
</div>
{% endblock %}
