{% extends "base.html" %} {% block content %}
<div class="container terms">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-9 col-lg-9 col-xl-6 signUp">
            <div class="auth-login">
                <h2>Восстановить пароль</h2>
                <input placeholder="Введите E-mail" type="email" />
                <a href="#" class="login-button buttons__color" onclick="checkRegister()">Восстановить</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-9 col-lg-9 col-xl-6 showToggle">
            <div class="auth-login">
                <h2>Спасибо за !</h2>
                <p class="success-registration">На Ваш E-mail было отправлено письмо для подтверждения регистрации. Для завершения процесса создания аккаунта следуйте инструкции в письме</p>
                <a href="mailto:crypto@gmail.com" class="login-button buttons__color">Перейти на почту</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}