.transactions {
    border-radius: 10px;
    margin-top: 30px;
    th,
    td {
        padding: 25px !important;
    }
}

.table-status {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    padding: 4px 8px;
    text-transform: none;
    &_process {
        background: #FFA65E;
        color: #B86927;
    }
    &_warning {
        background: #FFA65E;
        color: #B86927;
    }
    &_cancel {
        background: #FC5C5C;
        color: #820000;
    }
    &_success {
        background: #5FDD97;
        color: #1F9050;
    }
    &_primary {
        background: #5f7add;
        color: rgb(31, 59, 144);
    }
}